@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #afa6a6 0%, #727977 19%, #596163 42%, #6a6375 79%, #4e5557 100%);
    
} */
/* .container{
    position: relative;
    height: 500px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 7px -2px 25px black;
    border-radius: 10px;
} */